.option-icon {
  height: var(--spacing-20);
  width: var(--spacing-20);
  color: var(--foreground-secondary);
}

.option-icon-small {
  height: var(--spacing-20);
  width: var(--spacing-20);
  padding: 2px;
  color: var(--foreground-secondary);
}

.color-icon {
  width: 14px;
  height: 14px;
  border-radius: var(--spacing-4);
}
